{% extends "food/base.html" %}

{% block body%}
<div class="container">
  <div class="row mt-4">
    <div class="col">
      <img class="card" height="400px" width="400px" src="{{item.item_image}}" alt="food image">
    </div>
    <div class="col">
      <h1>{{ object.item_name }}</h1>
      <h2>{{ object.item_desc }}</h2>
      <h3>Tk: {{ object.item_price }}</h3>
      <a class="btn btn-warning" href="{% url 'food:updateItem' item.id %}">Update</a>
      <a class="btn btn-success" href="{% url 'food:deleteItem' item.id %}">Delete</a>
    </div>
  </div>
</div>

{%endblock%}